<h3>Home page</h3>

<!--<div class="row justify-content-center">-->
  <!--<div class="col-6 ">-->
    <!--<app-textarea [title]="'Enter text'"-->
                  <!--[inputContent]="'You may enter your message here'"-->
                  <!--(outputContent)="catchOutputFromTextarea($event)"></app-textarea>-->
  <!--</div>-->
<!--</div>-->

<div class="grid grid-pad">
  <div
    *ngFor="let article of articles"
    [routerLink]="['/article', article.id]"
    class="col-1-4">
    <div class="module article">
      <h4>{{article.title}}</h4>
    </div>
  </div>
</div>
