<h2>All articles</h2>
<!--<div>-->
  <!--<label>Article title:</label> <input #title />-->
  <!--<label>Article content:</label> <input #content />-->
  <!--<button (click)="add(title.value, content.value); title.value=''; content.value=''">-->
    <!--Add-->
  <!--</button>-->
<!--</div>-->
<div *ngFor="let article of articles"
     [class.selected]="article === selectedArticle" class="row"
     (click)="onSelect(article)">
  <div class="col-10">
    <span>{{article.title}}</span>
  </div>
  <div class="col-2">
    <!--<i class="fa fa-times"-->
       <!--aria-hidden="true"-->
       <!--(click)="delete(article); $event.stopPropagation()"></i>-->
  </div>
  <div class="col-12">
    <span>{{article.text.slice(0, 600)}}</span>
  </div>
  <div class="col-6">
    <span>{{article.dateCreated | date:'MMM d, y'}}</span>
  </div>
  <div class="col-6">
    <span>{{article.lastUpdated | date:'MMM d, y'}}</span>
  </div>
  <div class="col-12">
    <button class="btn bc-btn" (click)="gotoDetail()">Читати</button>
  </div>
</div>

<div *ngIf="selectedArticle">
  <h2>
    {{selectedArticle.title | uppercase}}
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
